[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    *__init__*
    */werkzeug/*
    */jinja2/*
    */markupsafe/*
    */flask/*
    */colorama/*
    */click/*
    */encodings/*
    */asyncio/*
    */http/*
    */html/*
    */concurrent/*
    */flask_restful/*
    */multiprocessing/*
    */ctypes/*
    */hmac.py
    */itsdangerous.py
    */uuid.py
    */stringprep.py
    */numbers.py
    */mimetypes.py
    */decimal.py
    */yaml/*
    */urllib3/*
    */requests/*
    */jsonschema/*
    */flasgger/*
    */idna/*
    */chardet/*
    */certifi/*
    */six.py
    */mistune.py